.advertisement {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 100px;
  width: 1280px;
  height: 440px;
  background: #fbfbfb;
}

.advertisement.title {
  width: 1080px;
  height: 240px;
}
.advertisement .discount {
  font-weight: 600;
  font-size: 76px;
  line-height: 1.05263;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.advertisement .discount,
.advertisement .title {
  padding-left: 10px;
  padding-right: 10px;
}
.advertisement .container .title {
  width: 100%;
  text-transform: uppercase;
}
.advertisement .discount {
  display: block;
}
.advertisement .discount {
  border-radius: 12px;
  width: 808px;
  height: 86px;
  background: #576f35;
}
.advertisement .description,
.advertisement .title {
  width: 100%;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: -0.015em;
}

