.how-it-works {
  background-color: var(--background);
}

.how-it-works-wrapper {
  display: flex;
}

.how-it-works-left {
  padding: 100px;
  background: var(--background-2);
  flex-direction: row;
}

.how-it-works-img {
  border-radius: 30px;
  width: 430px;
  height: 559px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.3),
      rgba(20, 20, 20, 0.3)
    ),
    url("../img/image-1.jpg");
  background-position: center;
  background-size: cover;
}

.how-it-works-right {
  padding: 100px 100px 100px 100px;
  background: var(--background);
  width: 650px;
}

.how-it-works-content {
  margin-bottom: 50px;
}

.how-it-works-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 25px;
}

.how-it-works-title > span {
  color: rgba(251, 251, 251, 0.3);
}

.how-it-works-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main-text);
}

.order-steps-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-list-item {
  background-color: #fbfbfb;
  padding: 12px 24px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.order-list-number {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main-text);
  background-color: var(--background-2);
  border-radius: 50%;
  flex-shrink: 0;
  border: 5px solid rgba(211, 152, 168, 0.822);
}

.order-steps-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.order-steps-text > span {
  font-weight: 700;
  color: var(--text);
}
