.reviews {
    width: 1,280px;
    height: 701px;
    top: 3228px;
    padding: 100px 0px 0px 0px;
    gap: 50px;
    opacity: 0px;
    background: #FBFBFB;
}

.reviews-container {
    width: 553px;
    height: 193px;
    gap: 25px;
    opacity: 0px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.reviews-title {
    width: 553px;
    height: 128px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
}

.reviews-span {
    color: #576f35;
}

.reviews-text {
    width: 553px;
    height: 40px;
    gap: 0px;
    opacity: 0px;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding-top: 25px;
}

.customer {
    width: 1,079px;
    height: 258px;
    gap: 25px;
    opacity: 0px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-container {
    width: 343px;
    height: 258px;
    padding: 20px 0px 0px 0px;
    gap: 8px;
    background: #FBFBFB;
    border-radius: 24px 24px 24px 24px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #7A31454D
}

.customer-wrapper {
    width: 303px;
    height: 218px;
    gap: 24px;
    opacity: 0px;
    padding: 20px 20px 20px 20px;
}

.customer-image {
    width: 56px;
    height: 56px;
    gap: 0px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;
}

.customer-name-list {
    width: 302px;
    height: 138px;
    gap: 8px;
    opacity: 0px;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.customer-name {

    font-family: Inter Tight;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    letter-spacing: -0.02em;
    text-align: center;
}

.customer-list {
    width: 288px;
    height: 110px;
    gap: 0px;
    opacity: 0px;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: center;
}








