@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .nav-wrapper {
    display: none;
  }

  .header-nav {
    padding: 0 32px;
  }

  .hamburger-menu {
    display: block;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero-title {
    margin-bottom: 25px;
  }
  .hero-left {
    margin-bottom: 25px;
    padding: 32px;
    height: 485px;
  }
  .hero-left-wrapper {
    margin-top: 122px;
    width: 672px;
  }
  .hero-right {
    width: 768px;
    height: 902px;
  }

  /* HAMBURGER MENU ALANI */

  .menu-open {
    display: block;
  }

  .hamburger-back {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.4);
  }

  .hamburger-overlay {
    position: absolute;
    right: 0;
    background-color: var(--background-2);
    width: 40%;
    height: 100%;
  }

  .menu-close {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    border: none;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-list-item {
    justify-content: center;
  }

  .shop-button {
    position: absolute;
    width: 158px;
    bottom: 33px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--background-2);
  }
}
