@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .how-it-works-wrapper {
    flex-wrap: wrap;
  }
  .how-it-works-left {
    padding: 100px 64px;
    max-width: 768px;
    height: 840px;
  }
  .how-it-works-img {
    min-width: 640px;
  }

  .how-it-works-left {
    padding: 100px 64px;
    width: 768px;
    height: 840px;
  }

  .how-it-works-right {
    padding: 100px 159px;
    width: 768px;
    height: 699px;
  }
}
