@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .reviews-content {
    margin-bottom: 50px;
  }

  .customer-block:nth-child(3) {
    display: none;
  }
  .reviews-wrapper {
    padding: 100px 32px;
  }
}
