@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .vegetables-title {
    margin-bottom: 50px;
  }
  .vegetables-list {
    max-width: 704px;
  }
  .vegetables-pad {
    padding: 100px 32px;
  }
}
