@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .title-wrapper {
  }

  .title-form-container {
    width: 628px;
  }
  .fsw-tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
  }
  .form-window {
    max-width: 628px;
  }
  .social-media-content {
    max-width: 628px;
  }
  .img-content {
    max-width: 528px;
  }
}
