@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .form-social-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
  }
  .form-window {
    max-width: 628px;
  }
  .social-media-content {
    max-width: 628px;
  }
  .img-content {
    max-width: 528px;
  }
}
