@media (max-width: 767px) {
  .container {
    width: 375px;
  }

  .how-it-works-left {
    padding: 40px 20px;
    height: 530px;
  }
  .how-it-works-img {
    width: 335px;
    height: 450px;
    min-width: 0px;
    background-position: top;
  }
  .how-it-works-right {
    padding: 80px 20px;
    height: 654px;
  }
  .how-it-works-order-steps {
    width: 335px;
  }
}
