/* @media (max-width: 375px) {
  .how-it-works-wrapper {
    flex-wrap: wrap;
  }
  .how-it-works-left {
    min-width: 365px;
    padding: 40px 20px;
  }
.how-it-works-img {
    width: 335px;
height: 450px;
}
  }
} */
