@media (max-width: 767px) {
  .container {
    width: 375px;
  }

  .title-wrapper {
    width: 335px;
    padding: 0px;
  }

  .your-order-container {
    padding: 80px 20px;
  }
  .second-title {
    font-size: 48px;
    line-height: 104%;
  }
  .title-text {
    font-weight: 500;
    font-size: 14px;
  }
  .form-window {
    width: 335px;
    padding: 40px 20px;
  }
  .form-content {
    width: 295px;
  }
}
